:root {
    --background-color: #ededed;
    --text-color: #ff00ff;
}

/* @media (prefers-color-scheme: light) {
    :root {
        --background-color: #ededed;
        --text-color: #ff00ff;
    }
} */