body {
    background-color: black;
    color: white;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    background-color: #101010;
    width: 60vw;
    height: 40vh;

    border-style: solid;
    border-color: #333;
    border-width: 1px;
    overflow: scroll;
}

.terminal .toolbar {
    height: 2em;
    background-color: #010101;
    display: flex;
}

.actions {
    display: flex;
    width: 6em;
    justify-content: space-evenly;
    align-items: center;
}

.tabsbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.tabsbar form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tabsbar form span input[type=radio] {
    display: none;
}

label {
    display: flex;
    /* width: 100%; */
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-weight: bold;
}

form {
    height: 100%;
}

form span {
    flex-grow: 1;
    height: 100%;
}

input[type=radio]:checked ~ label {
    background-color: #101010;
}

label:hover {
    cursor: pointer;
    /* background-color: #101010; */
}

.tabsbar.span:focus {
    color: #fff;
}

.circle {
    height: 1em;
    width: 1em;
    border-radius: 100%;
    /* padding: 1em; */
}

.red {
    background-color: rgb(199, 64, 64);
}

.yellow {
    background-color: rgb(219, 186, 75);
}

.green {
    background-color: rgb(78, 223, 78);
}

.terminal pre {
    /* font-family: monospace; */
    margin: 1em;
    color: #dedede;
    font-weight: 600;
    /* white-space: pre-line; */
    line-height: 1.6;
}

#warning-message {
    display: none;

    text-align: center;
    font-size: xx-large;
    font-family: monospace;
}

@media only screen and (orientation:portrait) {
    .terminal {
        display: none;
    }
    #warning-message {
        display: block;
    }
}
@media only screen and (orientation:landscape) {
    #warning-message {
        display: none;
    }

    .terminal {
        width: 90vw;
        height: 90vh;
    }
}