body {
    
}

fieldset {
    width: 500px;
}

input[type=checkbox] + label {
    /* Make it xx-large to clearly show it wouldn't be aligned without this tip */
    font-size: xx-large;
}

input[type=checkbox]::before {
    content: "Test";
}

/* This doesn't work
 *  sadly ::before is put inside the selected element and 
 *  input is an empty element and can't have "::before"
 */
input[type=checkbox] + label ::before {
    content: "\200B";
}

.aligned-checkbox {
    display: flex;
    align-items: center;
}

.aligned-checkbox::before {

}